<!DOCTYPE html>
<html>
<head>
    <title>Giới thiệu về Routine</title>
    <link rel="stylesheet" type="text/css" href="../css/chinhsachdoitra.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href="gioithieu.html" >Giới thiệu về Routine</a></li>
                <li><a href="dathang.html">Hướng dẫn đặt hàng</a></li>
                <li><a href="luuymuahang.html">Lưu ý khi mua hàng tại Routine</a></li>
                <li><a href="chinhsachdoitra.html">Chính sách đổi trả</a></li>
                <li><a href="chinhsachbaomat.html">Chính sách bảo mật</a></li>
                <li><a href="phuongthucthanhtoan.html">Phương thức thanh toán</a></li>
                <li><a href="thongtinlienhe.html">Thông tin liên hệ</a></li>
            </ul>
        </div>
        
        <div class="content">
            <h3>Chính sách đổi & trả hàng</h3>
            <h4>1. Quy định chung</h4>
            <ul>
                <li>Sản phẩm đối trả chưa qua sử dụng, chưa qua giặt tẩy, không bị vấy bẩn, ám mùi lạ, còn nguyên tem tag gắn trên sản phẩm và hóa đơn mua hàng. Quý khách hàng vui lòng mang theo hóa đơn mua hàng để được hỗ trợ đổi trả sản phẩm.</li>
                <li>Áp dụng đổi 1 lần cho 1 sản phẩm, không tính theo hóa đơn hay giao dịch. Sản phẩm sau khi đổi sẽ không được áp dụng chính sách đổi hàng lần nữa (trừ trường hợp phát sinh lỗi từ nhà sản xuất).</li>
                <li>Quý khách hàng sẽ không được hoàn lại tiền thừa nếu sản phẩm đổi có giá trị thấp hơn.</li>
                <li>Routine cam kết sẽ miễn phí 100% chi phí đổi hàng trong trường hợp lỗi phát sinh từ nhà sản xuất.</li>
            </ul>
            <h4>2. Chính sách đổi trả sản phẩm</h4>
            <h3>2.1. Chính sách đổi hàng</h3>
            <ul>
                <li>Đối với sản phẩm nguyên giá, không áp dụng các chương trình khuyến mãi, giảm giá sẽ được đổi trong 30 ngày.</li>
                <li>Đối với sản phẩm khuyến mãi, giảm giá dưới 30% vẫn sẽ được đổi trong 30 ngày.</li>
                <li>Đối với sản phẩm khuyến mãi, giảm giá trên 30% không áp dụng chính sách đổi sản phẩm.</li>
                <li>Không áp dụng đổi sản phẩm với tất cả các loại phụ kiện (trừ giày, dép).</li>
            </ul>
            <h3>2.2. Chính sách trả hàng</h3>
            <ul>
                <li>Đối với sản phẩm mua offline tại cửa hàng không áp dụng hoàn tiền dưới mọi hình thức.</li>
                <li>Đối với các sản phẩm mua qua các kênh online như website, sàn thương mại điện tử, Quý khách hàng sẽ được hoàn tiền qua chuyển khoản (không áp dụng cho nhóm phụ kiện và các sản phẩm được giảm giá trên 30%).</li>
            </ul>
            <img src="https://routine.vn/media/amasty/webp/wysiwyg/z2624316513177_4de2cecfb9b13c280294b48bdc03fe20_1_jpg.webp" alt="">
        </div>
    </div>
</body>
</html>
