<!DOCTYPE html>
<html>
<head>
    <title>Giới thiệu về Routine</title>
    <link rel="stylesheet" type="text/css" href="../css/dathang.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href="gioithieu.html">Giới thiệu về Routine</a></li>
                <li><a href="dathang.html">Hướng dẫn đặt hàng</a></li>
                <li><a href="luuymuahang.html">Lưu ý khi mua hàng tại Routine</a></li>
                <li><a href="chinhsachdoitra.html">Chính sách đổi trả</a></li>
                <li><a href="chinhsachbaomat.html">Chính sách bảo mật</a></li>
                <li><a href="phuongthucthanhtoan.html">Phương thức thanh toán</a></li>
                <li><a href="thongtinlienhe.html">Thông tin liên hệ</a></li>
            </ul>
        </div>
        
        <div class="content">
            <h3>HƯỚNG DẪN MUA HÀNG ONLINE TRÊN WEBSITE ROUTINE </h3>
            <h5>BƯỚC 1: Đăng nhập vào tài khoản của bạn trên Website Routine.vn. Nếu chưa có tài khoản thì bạn chọn Đăng ký thành viên và Nhập thông tin theo hướng dẫn.</h5>
            <img src="https://routine.vn/media/amasty/webp/wysiwyg/Customer_service/1-dang-nhap_png.webp" alt="">
            <h5>Bước 2: Chọn màu, size: Những mẫu áo đều có size riêng, nên sau khi chọn được màu sắc ứng ý, bạn hãy chọn size phù hợp với cơ thể mình.</h5>
            <img src="https://routine.vn/media/amasty/webp/wysiwyg/Customer_service/chon-size-mau-sac_1__png.webp" alt="">
            <h5>BƯỚC 3: Đối với những bạn đang không biết size hoặc phân vân size nào sẽ phù hợp với mình, bạn có thế nhấp vào Hướng dẫn chọn size từ gợi ý Routine thì sẽ xuất hiện màn hình Chọn size.</h5>
            <img src="https://routine.vn/media/amasty/webp/wysiwyg/Customer_service/3-hd-chon-size_png.webp" alt="">
            <h5>BƯỚC 4: Sau khi Chọn Size thành công → Màn hình sẽ quay về sản phẩm → Vào Giỏ hàng kiểm tra sản phẩm</h5>
            <img src="https://routine.vn/media/amasty/webp/wysiwyg/Customer_service/5-thanh-toan_png.webp" alt="">
            <h5>BƯỚC 5: Thanh toán</h5>
            <img src="https://routine.vn/media/amasty/webp/wysiwyg/Customer_service/6-chon-phuong-thuc-van-chuyen_png.webp" alt="">
            <h5>BƯỚC 6: Nhập thông tin Địa chỉ giao hàng và Xác nhận.</h5>
            <img src="https://routine.vn/media/amasty/webp/wysiwyg/Customer_service/7-dia-chi-giao-hang_png.webp" alt="">
            <h5>BƯỚC 7: Sau khi hoàn tất màn hình xuất hiện thông báo Mua hàng thành công.</h5>
            <img src="https://routine.vn/media/amasty/webp/wysiwyg/Customer_service/thanh-toan-thanh-cong_png.webp" alt="">

            <h6>Bên trên là Các bước hướng dẫn mua hàng online trên website Routine, nếu trong quá trình đặt hàng và thanh toán gặp phải vấn đề hay khó khăn, Quý khách hàng có thể liên hệ trực tiếp với bộ phận Chăm sóc khách hàng của Routine theo 2 cách sau:
                <br>
                1.Gọi điện trực tiếp Tổng đài: 1900 63 65 91 <br>
                2.Nhắn tin trực tiếp qua Fanpage Routine
            </h6>
        </div>
    </div>
</body>
</html>
