<!DOCTYPE html>
<html>
<head>
    <title>Giới thiệu về Routine</title>
    <link rel="stylesheet" type="text/css" href="../css/luuymuahang.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href="gioithieu.html" >Giới thiệu về Routine</a></li>
                <li><a href="dathang.html">Hướng dẫn đặt hàng</a></li>
                <li><a href="luuymuahang.html">Lưu ý khi mua hàng tại Routine</a></li>
                <li><a href="chinhsachdoitra.html">Chính sách đổi trả</a></li>
                <li><a href="chinhsachbaomat.html">Chính sách bảo mật</a></li>
                <li><a href="phuongthucthanhtoan.html">Phương thức thanh toán</a></li>
                <li><a href="thongtinlienhe.html">Thông tin liên hệ</a></li>
            </ul>
        </div>
        
        <div class="content">
            <h3>Một số lưu ý khi mua sắm tại Routine</h3>
            <ul>
              <li><strong>Đối với sản phẩm mua tại cửa hàng</strong>
                <ol>
                  <li>Routine không áp dụng trả hàng hoàn tiền đối với sản phẩm đã mua.</li>
                  <li>Routine nhận lại sản phẩm trong trường hợp lỗi phát sinh từ nhà sản xuất.</li>
                  <li>Các trường hợp lỗi do nhà sản xuất bao gồm: lỗi màu, phai màu, lỗi chất liệu, lỗi đường may, lỗi kiểu dáng,... không theo đúng mô tả và tiêu chuẩn sản phẩm.</li>
                  <li>Hoàn tiền lại sản phẩm gặp lỗi qua tài khoản ngân hàng.</li>
                  <li>Routine miễn phí 100% chi phí trả hàng.</li>
                </ol>
              </li>
              <li><strong>Đối với sản phẩm mua online</strong>
                <ol>
                  <li>Routine không áp dụng trả hàng hoàn tiền đối với sản phẩm đã mua</li>
                  <li>Routine nhận lại sản phẩm trong trường hợp lỗi phát sinh từ nhà sản xuất.</li>
                  <li>Các trường hợp lỗi do nhà sản xuất bao gồm: lỗi màu, phai màu, lỗi chất liệu, lỗi đường may, lỗi kiểu dáng,... không theo đúng mô tả và tiêu chuẩn sản phẩm,...</li>
                  <li>Hoàn tiền lại sản phẩm gặp lỗi qua tài khoản ngân hàng.</li>
                  <li>Routine miễn phí 100% chi phí trả hàng.</li>
                  <li>Khách hàng vui lòng gọi đến hotline 1900 636 591, nhấn phím 2 gặp bộ phận bán hàng để được hướng dẫn quy trình trả sản phẩm.</li>
                </ol>
              </li>
            </ul>
          </div>
          
    </div>
</body>
</html>
