<!DOCTYPE html>
<html>
<head>
    <title>Giới thiệu về Routine</title>
    <link rel="stylesheet" type="text/css" href="../css/phuongthucthanhtoan.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href="gioithieu.html" >Giới thiệu về Routine</a></li>
                <li><a href="dathang.html">Hướng dẫn đặt hàng</a></li>
                <li><a href="luuymuahang.html">Lưu ý khi mua hàng tại Routine</a></li>
                <li><a href="chinhsachdoitra.html">Chính sách đổi trả</a></li>
                <li><a href="chinhsachbaomat.html">Chính sách bảo mật</a></li>
                <li><a href="phuongthucthanhtoan.html">Phương thức thanh toán</a></li>
                <li><a href="thongtinlienhe.html">Thông tin liên hệ</a></li>
            </ul>
        </div>
        
        <div class="content">
             <h3>Phương thức thanh toán</h3>
             <img src="https://routine.vn/media/amasty/webp/wysiwyg/Customer_service/phuong-thuc-thanh-toan-routine_png.webp" alt="">   
             <p>Hiện tại, của hàng offline và website của Rotine có rất nhiều hình thức thanh toán khác nhau để quý khách hàng thoải mái lựa chọn. Khách hàng có thể tham khảo các phương thức thanh toán sau đây và lựa chọn áp dụng phương thức phù hợp.</p>
             <h4>1. Khi mua sắm tại hệ thống cửa hàng Routine trên toàn quốc</h4>
             <ul>
                <li>Cách 1: Thanh toán bằng tiền mặt.</li>
                <li>Cách 2: Chuyển khoản (Ngân hàng, Ví điện tử,...)</li>
             </ul>
             <h4>2. Khi mua sắm online trên website</h4>
             <ul>
                <li>Cách 1: Thanh toán khi nhận hàng (COD - giao hàng và thu tiền tận nơi).</li>
                <li>Cách 2: Thanh toán trực tuyến thông qua thẻ ngân hàng, ví điện tử.</li>
             </ul>
        </div>
    </div>
</body>
</html>
