<!DOCTYPE html>
<html>
<head>
    <title>Giới thiệu về Routine</title>
    <link rel="stylesheet" type="text/css" href="../css/thongtinlienhe.css">
</head>
<body>
    
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href="gioithieu.html" >Giới thiệu về Routine</a></li>
                <li><a href="dathang.html">Hướng dẫn đặt hàng</a></li>
                <li><a href="luuymuahang.html">Lưu ý khi mua hàng tại Routine</a></li>
                <li><a href="chinhsachdoitra.html">Chính sách đổi trả</a></li>
                <li><a href="chinhsachbaomat.html">Chính sách bảo mật</a></li>
                <li><a href="phuongthucthanhtoan.html">Phương thức thanh toán</a></li>
                <li><a href="thongtinlienhe.html">Thông tin liên hệ</a></li>
            </ul>
        </div>
        
        <div class="content">
            <h3>Liên hệ với chúng tôi</h3>
            <p>Chúng tôi luôn nỗ lực mỗi ngày để mang đến cho khách hàng những sản phẩm và dịch vụ tốt nhất.</p>
            <p>Thời gian làm việc: Thứ Hai - Chủ Nhật, 10:00 AM - 9:00 PM</p>
            <p>Các kênh liên hệ:</p>
            <ul>
                <li>Hotline chăm sóc khách hàng: 1900 63 65 91</li>
                <li>Hotline mua hàng: 039 999 9365</li>
                <li>Email: <a href="">cskh@routine.vn</a></li>
                <li>Mạng xã hội: Facebook - Instagram - Zalo - TikTok</li>
                <li>Hợp tác nhượng quyền: 039 246 8886</li>
            </ul>
        </div>
    </div>
</body>
</html>
