.login-container {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.login-container .login-banner {
    width: 60vw;
    height: 100vh;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
}

.login-container .login-banner .login-pannel {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #F8F7FA;
}

.login-container .login-banner .login-pannel img {
    max-height: 65%;
    width: auto;
}

.login-container .login-option {
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    float: left;
    align-items: center;
}

.login-container .login-option .login-option-site {
    width: 400px;
    display: inline-flex;
    flex-direction: column;
}

.login-container .login-option .login-option-site img {
    height: 34px;
    width: auto;
    margin-bottom: 24px;
}

.login-container .login-option .login-option-site h3 {
    font-weight: 500;
    line-height: 1.37;
    color: #5d596c;
    font-size: 1.625rem;
}

.login-container .login-option .login-option-site p {
    font-family: "Public Sans",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    ;
    font-size: 16px;
    color: #6f6b7d;
    margin-bottom: 24px;
}

.login-container .login-option .login-option-site label {
    font-family: "Public Sans",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    ;
    font-size: 13px;
    color: #5d596c;
    display: block;
    margin-bottom: 6px;
}

.login-container .login-option .login-option-site .input {
    margin-bottom: 12px;
}

.login-container .login-option .login-option-site a {
    text-decoration: none;
    font-family: "Public Sans",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    ;
    font-size: 13px;
    color: #7367f0;
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
}

.login-container .login-option .login-option-site .wrong {
    margin-bottom: 0;
    color: red;
}

.login-container .login-option .login-option-site .wait {
    margin-bottom: 0;
    color: rgb(145, 145, 90);
}

.login-container .login-option .login-option-site button {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    background-color: #7367f0;
    color: #ffffff;
}

.login-container .login-option .login-option-site button:hover {
    background-color: #685dd8;
    color: #ffffff;
}

.login-container .login-option .login-option-site .span {
    font-size: 12px;
    color: #6f6b7d;
}

.login-container .login-option .login-option-site .social-oauth {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.login-container .login-option .login-option-site .social-oauth div {
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.login-container .login-option .login-option-site .social-oauth div:hover {
    cursor: pointer;
    background-color: #F8F7FA;
}

.login-container .login-option .login-option-site .social-oauth div img {
    max-height: 38px;
    width: auto;
    margin-bottom: 0;
}