/* body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
  padding-top: 50px;
  display: flex;
  width: 100%;
  margin: 50px 0 0 100px;
}

.sidebar {
  width: 23%;
  padding: 20px 0 0 30px;
  box-sizing: border-box;
  height: 120vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  height: 50%;
}

.sidebar ul li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  font-size: 14px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
  font-weight: bolder
}

.content {
  padding-left: 50px;
  width: 60%;
  box-sizing: border-box;
  background-color: white
    /* Màu nền cho nội dung chính */
/* }

.content h3 {
  margin-bottom: 20px;
  /* Thêm khoảng cách giữa tiêu đề và nội dung */
/* }

.content p {
  font-size: 14px;
  line-height: 1.5;
}

img {
  width: 100%;
}

.content ul li {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}  */