<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    th,
    td {
        border: 1px solid black;
    background-image: url('');
background-position: center;
}
</style>

<body>
    <div style="width: 70%; margin-left: 15%; ">
        <div style="display: flex; justify-content: space-between;">
            <div style="width: 33.33%;display: flex; justify-content: center">Routin</div>
            <div style="width: 33.33%;display: flex; justify-content: center">
                <div>
                    <h3 style="text-align: center;margin-bottom: unset;">Hóa Đơn Bán Hàng</h3>
                    <h5 style="text-align: center;font-weight: 450;margin-bottom: unset;">(Bản thể hiện của hóa đơn điện
                        tử)</h5>
                    <h5 style="text-align: center;font-weight: 450;font-style: italic;">Ngày tháng năm 2023</h5>
                </div>
            </div>
            <div style=" width: 33.33%;display: flex; justify-content: center">
                <div>
                    <p style="margin-bottom: 2px;">Mẫu số: 1209873</p>
                    <p style="margin-bottom: 2px;">Ký hiệu: MS/2091</p>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h4 style="font-size: 20px;">Công ty cổ phần Routin Việt Nam</h4>
            <div>
                <p>Mã số thuế: 01092827366</p>
                <p>Địa chỉ: Tầng 9 nhà 10 Thanh Xuân</p>
                <p>Điện thoại: 098787762</p>
            </div>
        </div>
        <hr>
        <div>
            <div>
                <p>Họ tên khách hàng: Miss, Hương Lan</p>
                <p>Địa chỉ: Tầng 9 nhà 10 Thanh Xuân</p>
                <p>Điện thoại: 098787762</p>
                <p>Hình thức thanh toán: Chuyển khoản</p>
                <p>Hình thức nhận hàng: Giao hàng nhanh</p>
            </div>
        </div>
        <div>
            <h4>Thông tin sản phẩm</h4>
            <table style="border-collapse: collapse; width: 100%;">
                <thead>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Đơn vị tính</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div>
                <p>Tổng tiền hàng: 10.000đ</p>
                <p>Phí ship: 36.000đ</p>
                <p>Trạng thái hóa đơn: HOÀN THÀNH</p>
            </div>
        </div>
    </div>
</body>

</html>

<div style={{ width: "70%" , marginLeft: "15%" }}>
    <div style={{ display: 'flex' }}>
        <div style={{ width: "33.33%" , display: "flex" , justifyContent: "center" }}>Routin</div>
        <div style={{ width: "33.33%" , display: "flex" , justifyContent: "center" }}>
            <div>
                <h3 style={{ textAlign: "center" , marginBottom: "unset" }}>Hóa Đơn Bán Hàng</h3>
                <h5 style={{ textAlign: "center" , fontWeight: "450" , marginBottom: "unset" }}>(Bản thể hiện của hóa
                    đơn điện
                    tử)</h5>
                <h5 style={{ textAlign: "center" , fontWeight: "450" , fontStyle: "italic" }}>Ngày tháng năm 2023</h5>
            </div>
        </div>
        <div style={{ width: "33.33%" , display: "flex" , justifyContent: "center" }}>
            <div>
                <p style={{ marginBottom: '2px' }}>Mẫu số: 1209873</p>
                <p style={{ marginBottom: '2px' }}>Ký hiệu: MS/2091</p>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <h4 style={{ fontSize: "20px" }}>Công ty cổ phần Routin Việt Nam</h4>
        <div>
            <p>Mã số thuế: 01092827366</p>
            <p>Địa chỉ: Tầng 9 nhà 10 Thanh Xuân</p>
            <p>Điện thoại: 098787762</p>
        </div>
    </div>
    <hr />
    <div>
        <div>
            <p>Họ tên khách hàng: Miss, Hương Lan</p>
            <p>Địa chỉ: Tầng 9 nhà 10 Thanh Xuân</p>
            <p>Điện thoại: 098787762</p>
            <p>Hình thức thanh toán: Chuyển khoản</p>
            <p>Hình thức nhận hàng: Giao hàng nhanh</p>
        </div>
    </div>
    <div>
        <h4>Thông tin sản phẩm</h4>
        <table style={{ borderCollapse: "collapse" , width: "100%" }}>
            <thead>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Đơn vị tính</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div>
            <p>Tổng tiền hàng: 10.000đ</p>
            <p>Phí ship: 36.000đ</p>
            <p>Trạng thái hóa đơn: HOÀN THÀNH</p>
        </div>
    </div>
</div>